<html>
<body style="background-color:lightgreen;">
{% csrf_token %}

<pre style=" text-align:center; font-size:25px; letter-spacing:0.2em;">Successfully logged in!!</pre>
<pre style="font-size:25px; letter-spacing:0.2em;">Please select one of the options below.</pre>
<fieldset>
<form action="/users/input/">
<input style=" height:30px; width:180px; background:lightblue;" type="submit" value="Get Diagnosis" /><br/>
</form>

<form action="/users/tests/" method="POST">
  {% csrf_token %}
<input style=" height:30px; width:180px; background:lightblue;" type="submit" value="View Previous Tests" /><br/>
</form>

<!-- Go back to the home page!! !-->
<form action="/">
<input style=" height:30px; width:180px; background:lightblue;" type="submit" value="Logout" /><br/>
</form>

</fieldset>
</body>
</html>
